body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #cc5c00);
    display: grid;
    align-items: center;
}

.texto {
    position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}